body{
    background: url("../img/cielo.jpg");
}
#logo{
    background-color: rgb(114, 177, 233);
}
#menu{
    background-color: rgb(106, 106, 172);
}
#menu li:hover{
    background-color: rgb(114, 177, 233);
}
.post h2{
    color:rgb(106, 106, 172);
}