body{
    background: url("../img/hojas.jpg");
}
#logo{
    background-color: rgb(128, 233, 114);  
}
#menu{
    background-color: rgb(121, 172, 106);
}
#menu li:hover{
    background-color: rgb(128, 233, 114);
}
.post h2{
    color:rgb(121, 172, 106);
}
