body{
    background: url("../img/rojo.jpg");
}
#logo{
    background-color: rgb(233, 114, 114);
}
#menu{
    background-color: rgb(172, 106, 106);
}
#menu li:hover{
    background-color: rgb(233, 114, 114);
}
.post h2{
    color:rgb(172, 106, 106);
}